<form id="add_todo_form" action="/add_todo" method="POST">
    <div class="form-group">
        <label for="add_todo_input">Nombre de la tarea a realizar</label>
        <input type="text" class="form-control" name="add_todo_input" placeholder="Añadir tarea" id="add_todo_input" required></input>
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
</form>
